.advantages{
    width: 100%;
}

.adv-caption{
    text-align: center;
    max-width: 50%;
    margin: auto;
}

.adv-caption h1{
    font-weight: bold;
}

.adv-caption p{
    color: gray;
}

.advantages .my-card .icon{
    font-size: 4em;
}

.advantages .my-card .icon{
    width: 150px;
    height: 150px;
    background-color: rgb(236, 236, 236);
    color: coral;
    text-align: center;
    margin: auto;
    padding: 25px 0;
    border-radius: 50%;
}

.my-card{
    text-align: center;
    margin: 20px 20px;
}

.my-card p{
    color: gray;
}

.my-card h6{
    margin-top: 8px;
}

.advantages p{
    font-size: small;
    line-height: 15px;
}
